src/main/mule/implementation/post-customer-state-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="post-customer-state-implementation-Flow"
		doc:id="9abc5171-fd11-435d-9e8f-bd808a4d5340">
		<choice doc:name="Choice" doc:id="d28fded3-8b4e-4148-a1d7-6f4f667cff8a" >
			<when expression='#[vars.requestPayload.customerStateRequest.contactType == "mobile"]'>
				<salesforce:query doc:name="Query Query Customer state" doc:id="46f78ead-523c-4451-b8be-9c64ec770174" config-ref="Salesforce_Config">
					<salesforce:salesforce-query ><![CDATA[select status__c from CustomerState__c where mobile__c = ':mobileNumber']]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"mobileNumber" : vars.requestPayload.customerStateRequest.mobile
}]]]></salesforce:parameters>
				</salesforce:query>
			</when>
			<otherwise >
				<salesforce:query doc:name="Query Customer state" doc:id="a4addb72-def2-4f3f-8f46-10c0111950e1" config-ref="Salesforce_Config" >
					<salesforce:salesforce-query ><![CDATA[select status__c from CustomerState__c where email__c = ':email']]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"email" : vars.requestPayload.customerStateRequest.email
}]]]></salesforce:parameters>
				</salesforce:query>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="a49ebdb4-5b18-40a9-bdf1-d86e99803f34" >
			<when expression='#[sizeOf(payload) != 0]'>
				<raise-error doc:name="Raise error" doc:id="57d204de-f185-4733-bad4-5aa615974fc6" type="CS:INVALID_USER" description="User Already Exist"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message to Create SFDC Request Payload for Registration Object" doc:id="526bcbbc-3aee-48a8-8886-021813506688">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
    "contactType__c": vars.requestPayload.customerStateRequest.contactType,
    "countryCode__c": vars.requestPayload.customerStateRequest.countryCode,
    "mobile__c": vars.requestPayload.customerStateRequest.mobile,
    "email__c": vars.requestPayload.customerStateRequest.email,
    "password__c": vars.requestPayload.customerStateRequest.password,
    "status__c": vars.requestPayload.customerStateRequest.status
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Request Logger Fro SFDC Call " doc:id="714379f4-51bc-4e9c-ab0c-017ba9c9254b" message="#[%dw 2.0&#10;output application/json indent = false  &#10;---  &#10;{  	&#10;    TimeStamp: now(), 	&#10;    transactionId: vars.headers.'x-cms-transactionId', 	&#10;    AppName: app.name, 	&#10;    FlowName: flow.name, 	&#10;    BusinessProcessName:  &quot;Customer State&quot;, 	&#10;    Category:  &quot;Customer&quot;, 	&#10;    OriginatingApplication:  &quot;Process API&quot;, 	&#10;    DesinationApplication:  &quot;Salesforce&quot;, 	&#10;    CustomerId: &quot;NA&quot;, 	&#10;    txnState:  &quot;SFDC Request&quot; &#10;}]" />
				<salesforce:create doc:name="Create call to SFDC Registration Object To insert Registration Data " doc:id="5d749797-f5eb-454b-9a81-c11d92af7153" config-ref="Salesforce_Config" type="CustomerState__c" />
				<logger level="INFO" doc:name="Response Logger Fro SFDC Call " doc:id="b5bc8bf2-76fa-45a2-a928-d110ca112e7b" message="#[%dw 2.0&#10;output application/json indent = false  &#10;---  &#10;{  	&#10;    TimeStamp: now(), 	&#10;    transactionId: vars.headers.'x-cms-transactionId', 	&#10;    AppName: app.name, 	&#10;    FlowName: flow.name, 	&#10;    BusinessProcessName:  &quot;Customer State&quot;, 	&#10;    Category:  &quot;Customer&quot;, 	&#10;    OriginatingApplication:  &quot;Process API&quot;, 	&#10;    DesinationApplication:  &quot;Salesforce&quot;, 	&#10;    CustomerId: &quot;NA&quot;, 	&#10;    txnState:  &quot;SFDC Response&quot; &#10;}]" />
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Transform Message to Create Registration SAPI Response" doc:id="9b530009-e534-450c-ab51-18ac33456967">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "customerStateResponse": {
    "eventInstanceId": "dsfhdbfhsbdfhjsb3784t2wfsd",
    "status": "success"
  }}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>