src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler ref="apikit-global-errorError_Handler">
         </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler ref="apikit-global-errorError_Handler">
            
        </error-handler>
    </flow>
    <flow name="post:\customers\registration:application\json:api-config">
		<flow-ref doc:name="Call to Initialize-request-data-subFlow" doc:id="89f794e4-6d73-4715-a377-0b7ad541c00c" name="initialize-request-data-subFlow" />
		<logger level="INFO" doc:name="Start logger for Customer Registration" doc:id="b40189c4-716a-47d0-9b0a-af8e9e642cf5" message='#[%dw 2.0&#10;output application/json indent =false&#10;---&#10;{&#10;TimeStamp: now(),&#10;transactionId: vars.headers."x-cms-transactionid",&#10;AppName: app.name,&#10;FlowName: flow.name,&#10;BuisnessProcessName: "Customer Registration",&#10;Category: "Customer",&#10;OriginatingApplication: "Process API",&#10;DestinationApplication: "Salesforce",&#10;CustomerId: "NA",&#10;txnState: "START"&#10;&#10;&#10;&#10;}]'/>
		<flow-ref doc:name="Call to post-customer-registration-implementation-Flow" doc:id="7bd38b5a-10f3-4f48-920c-6efbf7be20cc" name="post-customer-registration-implementation-Flow"/>
		<logger level="INFO" doc:name="End  logger for Customer Registration" doc:id="c70e73d0-7eda-49db-8fe9-85bc2efd8f1e" message='#[%dw 2.0&#10;output application/json indent =false&#10;---&#10;{&#10;TimeStamp: now(),&#10;transactionId: vars.headers."x-cms-transactionid",&#10;AppName: app.name,&#10;FlowName: flow.name,&#10;BuisnessProcessName: "Customer Registration",&#10;Category: "Customer",&#10;OriginatingApplication: "Process API",&#10;DestinationApplication: "Salesforce",&#10;CustomerId: "NA",&#10;txnState: "END"&#10;&#10;&#10;&#10;}]'/>
		<error-handler ref="app-global-errorError_Handler" />
	</flow>
	<flow name="post:\customerState:application\json:api-config" doc:id="aa74655f-f42f-43b4-9855-bc87a0d0e079">
		<flow-ref doc:name="Flow Reference to call initialize-request-data-subFlow" doc:id="a16fc97b-928b-4edd-a649-26fdbba3f02c" name="initialize-request-data-subFlow"/>
		<logger level="INFO" doc:name="Start Logger For CustomerState  API" doc:id="08c7813e-9b4a-4c8b-b630-230b957eb279" message="#[%dw 2.0 &#10;output application/json indent = false &#10;--- &#10;{ 	&#10;    TimeStamp: now(), 	&#10;    transactionId: vars.headers.'x-cms-transactionId', 	&#10;    AppName: app.name, 	&#10;    FlowName: flow.name, 	&#10;    BusinessProcessName:  &quot;Customer State&quot;, 	&#10;    Category:  &quot;Customer&quot;, 	&#10;    OriginatingApplication:  &quot;Process API&quot;, 	&#10;    DesinationApplication:  &quot;Salesforce&quot;, 	&#10;    CustomerId: &quot;NA&quot;, 	&#10;    txnState:  &quot;START &quot; &#10;}]"/>
		<flow-ref doc:name="Flow Reference to call customerstate Implementation" doc:id="28ab0a55-2ee3-43e5-b898-fd39deee9150" name="post-customer-state-implementation-Flow"/>
		<logger level="INFO" doc:name="END Logger For CustomerState API" doc:id="b9f69bc5-327f-4aa8-a12c-5adf5539415d" message="#[%dw 2.0&#10;output application/json indent = false &#10;--- &#10;{ 	&#10;    TimeStamp: now(), 	&#10;    transactionId: vars.headers.'x-cms-transactionId', 	&#10;    AppName: app.name, 	&#10;    FlowName: flow.name, 	&#10;    BusinessProcessName:  &quot;Customer State&quot;, 	&#10;    Category:  &quot;Customer&quot;, 	&#10;    OriginatingApplication:  &quot;Process API&quot;, 	&#10;    DesinationApplication:  &quot;Salesforce&quot;, 	&#10;    CustomerId: &quot;NA&quot;, 	&#10;    txnState:  &quot;END&quot; &#10;}]"/>
		<error-handler ref="app-global-errorError_Handler" />
		
    </flow>
    <flow name="post:\verification:application\json:api-config" doc:id="eed3e8c7-a668-4da2-a0b0-0aa251c3b784">
		<flow-ref doc:name="Flow Reference To Call Initialize Request Data" doc:id="5fe5bb59-cebd-451b-a034-a4973ea608d0" name="initialize-request-data-subFlow" />
		<logger level="INFO" doc:name="Start Logger For verification API" doc:id="de4e5725-ae65-4cf5-a95a-cdbc1edee3fd" message="#[%dw 2.0 &#10;output application/json indent = false &#10;--- &#10;{ 	&#10;    TimeStamp: now(), 	&#10;    transactionId: vars.headers.'x-cms-transactionId', 	&#10;    AppName: app.name, 	&#10;    FlowName: flow.name, 	&#10;    BusinessProcessName:  &quot;Verification&quot;, 	&#10;    Category:  &quot;Customer&quot;, 	&#10;    OriginatingApplication:  &quot;Process API&quot;, 	&#10;    DesinationApplication:  &quot;3rd Party SMS API&quot;, 	&#10;    CustomerId: &quot;NA&quot;, 	&#10;    txnState:  &quot;START &quot; &#10;}]"/>
		<ee:transform doc:name="Transform Message" doc:id="530fa4b4-4c6a-4dbf-999f-f7ee94c7e137" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="mobileNumber" ><![CDATA[payload.verificationRequest.mobile]]></ee:set-variable>
				<ee:set-variable variableName="country_code" ><![CDATA[payload.verificationRequest.countryCode replace ("+") with ("")]]></ee:set-variable>
				<ee:set-variable variableName="verificationURL" ><![CDATA[payload.verificationRequest.messageContent]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference to call verification Implementation" doc:id="8accc40b-f131-414f-93b3-4afd0e7cd355" name="post-verification-implementation-Flow"/>
		<logger level="INFO" doc:name="END Logger For verification API" doc:id="247b64bb-4b22-403f-b9e6-6d2148fcf93b" message="#[%dw 2.0&#10;output application/json indent = false &#10;--- &#10;{ 	&#10;    TimeStamp: now(), 	&#10;    transactionId: vars.headers.'x-cms-transactionId', 	&#10;    AppName: app.name, 	&#10;    FlowName: flow.name, 	&#10;    BusinessProcessName:  &quot;Verification&quot;, 	&#10;    Category:  &quot;Customer&quot;, 	&#10;    OriginatingApplication:  &quot;Process API&quot;, 	&#10;    DesinationApplication:  &quot;3rd Party SMS API&quot;, 	&#10;    CustomerId: &quot;NA&quot;, &#10;    txnState:  &quot;END&quot; &#10;}]"/>
		<error-handler ref="app-global-errorError_Handler" />
		
    </flow>
</mule>
